<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<div id='app'>
		<ul id='message'>
			<li v-for='message in messages'>
				{{message}}
			</li>
		</ul>
		<form id='form' action="">
			<input type="text" id='input' autocomplete='off'><button>send</button>
		</form>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<script src='socket.io/socket.io.js'></script>
	<script src='javascripts/socketapi.js'></script>
  </body>
</html>
